.iconButton {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  user-select: none;
}

.iconButton:hover {
  border-color: var(--primary);
}

.iconButtonIcon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .iconButton {
    padding: 16px;
  }
}

.iconButtonText {
  margin-left: 5px;
  font-size: 12px;
}
